<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Welcome to CaseoLap.</h1>

  <ul class="articles">
  <% for(var i=0; i<articles.length; i++) {%>
    <li class="quote">
      <span><%= articles[i].PMID %></span>
      <span><%= articles[i].ArticleTitle %></span>
    </li>
  <% } %>
  </ul>

  <h2>Add an article</h2>

  <form action="/articles" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>

  <div>
    <h2>Replace Data</h2>
    <button id="update"> Update first article! </button>
  </div>

  <div>
    <h2>Delete Data</h2>
    <button id="delete"> Delete first article! </button>
  </div>

  <script src="main.js"></script>

</body>
</html>